{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{blog.blog_title}} {% endblock %}
{% block content %}
<div class="container">
{% if blog.instructor == user %}
<form method="POST">
{{form|crispy}}
{% csrf_token %}
<strong>Are You Sure?</strong><br>
<button type="submit" name="button" class="btn btn-success" style="margin-bottom:30px;margin-top:30px;">Yes</button>


{% else %}
<p>Your are not allowed to view this page. 404</p>
</form>
{% endif %}
</div>
{% endblock content %}
