
{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/donate.css' %}">
{% endblock %}
{% block content %}
<div class="row">


    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center"  >

    <div class="donate"> </div>
    </div>
    </div>
    <div class="container text-center">
      <div class="donatepara">
        <p>We make many contributions for several challenges. Now the world is facing an unprecedented challenge with
          communities
          and economies everywhere affected by the growing COVID-19 pandemic.We can now help people and supporting them by
          donating any amount.</b> </p>
      </div>
    </div>
    

     <div class="donatemain">

       <div class="card text-center">
 <div class="card-header" style="font-weight: 900">
   Donate For Covid-19 Patients
 </div>
 <div class="card-body">
    <a href="#" class="btn btn-primary">Donate Any Amount</a>

   <p class="card-text"style="margin-top:10px;">Thanks in Advance.</p>

 </div>
 <div class="card-footer text-muted">
   "No one has ever become poor by giving"
 </div>
</div>



     </div>


     {% endblock %}
